<form #customerForm="ngForm" (ngSubmit)="addCustomer(customerForm.value)">
  <input type="text" name="Firstname" placeholder="firstname" ngModel />
  <br />
  <input type="text" name="Lastname" placeholder="Lastname" ngModel />
  <br />
  <input type="date" name="DateOfBirth" placeholder="DateOfBirth" ngModel />
  <br />
  <input type="number" name="PhoneNumber" placeholder="PhoneNumber" ngModel />
  <br />
  <input type="email" name="Email" placeholder="Email" ngModel />
  <br />
  <input
    type="number"
    name="BankAccountNumber"
    placeholder="BankAccountNumber"
    ngModel
  />
  <br />
  <input type="submit" value="submit" />
</form>

<!-- <div *ngIf="appState == 'default'">
  <h3>Add Todo</h3>
  <form (submit)="addTodo()">
    <input type="text" [(ngModel)]="text" name="text" />
  </form>
</div>

<div *ngIf="appState == 'edit'">
  <h3>Edit Todo</h3>
  <form (submit)="updateTodo()">
    <input type="text" [(ngModel)]="text" name="text" />
  </form>
</div>

<h3>Todo List</h3>
<ul *ngFor="let todo of todos">
  <span class="todoItem" (click)="editTodo(todo)">{{ todo.text }}</span
  ><button class="deleteBtn" (click)="deleteTodo(todo.text)">x</button>
</ul> -->
